@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:ital,wght@1,300&family=Work+Sans:wght@300;600&display=swap");
* {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* navbar */
.navbar {
  width: 100%;
  height: 100%;
}
.navbar #connav {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 82, 93);
  padding: 1em 0.5em;
}

.navbar img {
  width: 14%;
  height: 7vh;
}

.navbar #connav #text {
  margin-left: 7em;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: rgba(230, 196, 80, 1);
}

.navbar .collapse {
  justify-content: end;
  margin-right: 5em;
}

.navbar a {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

/* header */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .headline-text {
  font-family: "Montserrat";
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  position: absolute;
  color: rgba(255, 255, 255, 1);
}

#home img {
  width: 100%;
  height: 100%;
}

/* specialize */
#specialize {
  width: 100%;
  height: 100%;
  margin: 2em 0em 0em 0em;
  background-color: white;
  border-radius: 0 0 30px 30px;
}

#specialize .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 0em 20em;
}

#specialize .col {
  width: 100%;
  height: 20vh;
  margin: 2em 0em;
  padding: 1em 2em;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  border: 1px solid grey;
  box-shadow: 10px 10px 10px #88888849;
  border-radius: 5px;
}

#specialize .text {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: rgba(0, 82, 93, 1);
}

#specialize .text img {
  margin: 0em 1em;
}

#specialize h4 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 82, 93, 1);
}

#specialize p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: rgba(115, 115, 115, 1);
}

/* carousel */
#visimisi {
  padding: 3em 12em;
  width: 100%;
  height: auto;
}

#visimisi #left .box {
  background: rgba(255, 255, 255, 1);
  width: 5.875em;
  height: 0.438em;
}
#visimisi #right .box {
  background: rgba(255, 255, 255, 1);
  width: 5.875em;
  height: 0.438em;
  display: flex;
  justify-content: end;
  align-content: end;
  text-align: end;
}

#visimisi h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.20000000298023224px;
  color: white;
}

#visimisi p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  color: white;
}

#visimisi #left {
  display: flex;
  flex-direction: row;
}

#visimisi #left .col {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  gap: 2.5em;
}

#visimisi #right {
  display: flex;
  flex-direction: row;
}

#visimisi #right .col {
  display: flex;
  text-align: right;
  align-items: end;
  flex-direction: column;
  justify-content: center;
  gap: 2.5em;
}

#visimisi img {
  width: 50%;
  height: 10%;
}
